/* general body styling */
html, body {
	height: 100%;
	width: 100%;
}

li {
	list-style-type: none;
	text-align: center;
}

/* main content sections */
.pad-section {
	padding: 50px 0;
}

.pad-section img {
	width 100%;
}

/* vertical centered-text */
.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #000000;
}

.text-vcenter h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

/* other sections */
#home {
	background: url(../images/chicago-riverview.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-backround-size: cover;
	-o-background-size: cover;
}

#developer {
	background-color: #306d9f;
	color: #ffffff;
}

div img.desaturated {
	filter: grayscale(100%);
}

div img.desaturated {
	transition: all 1s ease;
}

img.desaturated:hover {
	transform: scale(1.6);
}


#developer .glyphicon {
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	display: inline-block;
	font-size: 60px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}

#entrepreneur {
	background: url(../images/chicago-riverview.jpg) no-repeat center center fixed;
	display: table;
	height: 800px;
	position: relative;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-backround-size: cover;
	-o-background-size: cover;
}

#entrepreneur .panel {
	opacity:0.75;
}

img.apps {
	width: 75%;
}

div.quote {
	margin: 0 auto;
}

blockquote p{
	font-size: 2em;
	font-style: italic;
	color: #FFFFFF;
}

.mb-author {
	color: #FFFFFF;
}


footer {
	padding: 20px 0;
}

footer .glyphicon {
	color: #333333;
	font-size: 60px;
}

footer .glyphicon:hover {
	color: #306d9f;
}

#portfolio .fa-github {
	font-size: 60px;
}

.quotemark {
	font-weight: 700;
	color: white;
	font-size: 7em;
	display: center;
}

.blockquote {
	font-style: italic;
	font-weight: 700;
	color: white;
	font-size: 5em;
	text-align: center;
}
